# Environment Variables
PORT=3000
JWT_SECRET=primetrade_super_secret_key_change_in_production
JWT_EXPIRES_IN=24h
DB_PATH=./data/database.sqlite
ADMIN_EMAIL=admin@primetrade.ai
ADMIN_PASSWORD=Admin@123
